In [42]:
def csv_adjust(directory, method='test'):
    files = [directory + '/' + file for file in os.listdir(directory) if file.endswith('.csv')]
    df_list = list()
    for file in files:
        temp_df = pd.read_csv(file, index_col=0)
        df_list.append(temp_df)
    
    
#     f = lambda file : file.split('/')[-1].split('_')[0] + 
    
    
    df = pd.concat(df_list, axis=0)
    df['filename'] = df['filename'].apply(f)
    display(df)
    df = df.drop_duplicates()
    df.to_csv(f'{method}.csv', index=None)
    return df

def rename_images(directory):
    files = [directory + '/' + file for file in os.listdir(directory) if file.endswith('.jpg')]
    for file in files:
        new_file = directory + adj_file_name(file)
        move(file, new_file)
    return

In [44]:
!ls
for directory in ['lucas_test','lucas_train','lucas_valid']:
    if not os.path.exists(directory): os.mkdir(directory)
    rename_images(directory)
    df = csv_adjust(directory, method=directory)
    df = df.loc[(df['xmax'] > 719) | (df['ymax'] > 301),:]

 2017_v1	      augmented_A       nick_data	      TrainSplit.ipynb
'2017_v1 (copy)'      augmented_B       README.dataset.txt    Untitled.ipynb
 2017_v2	      augmented_train   README.roboflow.txt
 attribution_df.csv   dfs	        train

ValueError: No objects to concatenate

In [41]:
!ls
df1 = pd.read_csv('dfs/nick_test.csv')
df2 = pd.read_csv('dfs/lucas_test.csv')
df = pd.concat((df1, df2), axis=0)
df.to_csv('test.csv', index=False)

df1 = pd.read_csv('dfs/nick_train.csv')
df2 = pd.read_csv('dfs/lucas_train.csv')
df = pd.concat((df1, df2), axis=0)
df.to_csv('train.csv', index=None)

attribution_df.csv  dfs		 nick_test	     README.roboflow.txt
augmented_A	    lucas_test	 nick_train	     train
augmented_B	    lucas_train  nick_valid	     TrainSplit.ipynb
augmented_train     lucas_valid  README.dataset.txt  Untitled.ipynb

In [3]:



# formatstr, default None

#     The strftime to parse time, e.g. "%d/%m/%Y"
    
def adj_file_name(file):
    file = file.split('/')[-1]
    date = pd.to_datetime(file.split('_')[0], format='%m-%d-%Y')
    return date.strftime('%Y-%m-%d') + '_v1.jpg'

for directory in ['train/','test/','valid/']:
    for file in os.listdir(directory):
        new_file = adj_file_name(file)
        move(directory + file, directory + new_file)

In [20]:
import os
import pandas as pd
import numpy as np
from shutil import move
!ls
# df_list = list()
# for file in os.listdir('orig_csvs/'):
#     df = pd.read_csv('orig_csvs/' + file)
#     df_list.append(df)
    
# df = pd.concat(df_list, axis=0)
# df = df.drop_duplicates()

# date = pd.to_datetime(file.split('_')[0])
# df['Date'] = pd.to_datetime(file.split('_')[0], format='%m-%d-%Y')
train_dates = [file.split('_')[0] for file in os.listdir('train/')]
test_dates = [file.split('_')[0] for file in os.listdir('test/')]
parent_df = pd.read_csv('parent_csv.csv')
parent_df = parent_df.set_index('Date')
# parent_df['Date'] = pd.to_datetime(parent_df['Date'])
display(parent_df)
print(train_dates)
print(len(train_dates))

print(test_dates)
print(len(test_dates))

test_df = parent_df.loc[parent_df.index.isin(test_dates),:]
train_df = parent_df.loc[parent_df.index.isin(train_dates),:]

print(len(np.unique(train_df.index)))
print(len(np.unique(test_df.index)))

display(test_df.head())
test_df = test_df.drop(columns='Unnamed: 0')
display(test_df)
test_df.to_csv('fixed_test_df.csv', index=False)

train_df = train_df.drop(columns='Unnamed: 0')
display(train_df)
train_df.to_csv('fixed_train_df.csv', index=False)


display(train_df.head())

fixed_test_df.csv   LabFormatting-Copy1.ipynb  test	 train	    valid
fixed_train_df.csv  parent_csv.csv	       test.csv  train.csv

,Unnamed: 0,filename,width,height,class,xmin,ymin,xmax,ymax
Date,,,,,,,,,
2017-01-02,0,2017-01-02_v1.jpg,719,301,TIDs,263,105,653,208
2017-01-02,1,2017-01-02_v1.jpg,719,301,TIDs,263,105,369,208
2017-01-02,2,2017-01-02_v1.jpg,719,301,TIDs,263,105,440,208
2017-01-02,3,2017-01-02_v1.jpg,719,301,TIDs,263,105,511,208
2017-01-02,4,2017-01-02_v1.jpg,719,301,TIDs,263,105,582,208
...,...,...,...,...,...,...,...,...,...
2017-12-27,1587,2017-12-27_v1.jpg,719,301,TIDs,421,53,657,213
2017-12-27,1588,2017-12-27_v1.jpg,719,301,TIDs,53,53,416,213
2017-12-27,1589,2017-12-27_v1.jpg,719,301,TIDs,416,33,657,233
2017-12-27,1590,2017-12-27_v1.jpg,719,301,TIDs,416,13,657,253
2017-12-27,1591,2017-12-27_v1.jpg,719,301,TIDs,416,1,657,273

['2017-06-12', '2017-03-28', '2017-12-04', '2017-10-31', '2017-06-10', '2017-03-04', '2017-12-12', '2017-08-06', '2017-12-20', '2017-02-20', '2017-01-03', '2017-10-26', '2017-08-11', '2017-05-20', '2017-11-04', '2017-01-26', '2017-07-14', '2017-01-27', '2017-11-23', '2017-06-07', '2017-07-19', '2017-07-17', '2017-07-21', '2017-04-26', '2017-10-07', '2017-09-30', '2017-03-03', '2017-08-07', '2017-10-01', '2017-09-20', '2017-01-13', '2017-01-25', '2017-02-24', '2017-10-12', '2017-06-27', '2017-08-15', '2017-12-25', '2017-08-16', '2017-10-18', '2017-07-27', '2017-02-22', '2017-08-21', '2017-11-02', '2017-06-04', '2017-03-14', '2017-09-29', '2017-10-15', '2017-10-14', '2017-07-28', '2017-09-27', '2017-08-14', '2017-09-14', '2017-04-21', '2017-06-05', '2017-01-06', '2017-05-04', '2017-12-24', '2017-03-19', '2017-01-02', '2017-11-03', '2017-01-20', '2017-12-27', '2017-01-31', '2017-11-13', '2017-09-24', '2017-02-19', '2017-07-30', '2017-10-19', '2017-07-09', '2017-07-31', '2017-11-10', '2017-01-18', '2017-08-03', '2017-09-23', '2017-01-15', '2017-04-18']
76
['2017-03-15', '2017-02-21', '2017-12-13', '2017-01-19', '2017-06-09', '2017-09-25', '2017-07-13', '2017-03-22', '2017-06-24', '2017-09-22', '2017-12-23', '2017-07-02', '2017-02-01', '2017-02-27', '2017-12-26', '2017-06-13', '2017-08-24', '2017-07-25', '2017-06-26', '2017-02-16', '2017-11-14', '2017-01-07', '2017-03-11', '2017-07-22']
24
76
24

,Unnamed: 0,filename,width,height,class,xmin,ymin,xmax,ymax
Date,,,,,,,,,
2017-01-07,62,2017-01-07_v1.jpg,719,301,TIDs,237,107,637,245
2017-01-07,63,2017-01-07_v1.jpg,719,301,TIDs,237,107,294,245
2017-01-07,64,2017-01-07_v1.jpg,719,301,TIDs,237,107,351,245
2017-01-07,65,2017-01-07_v1.jpg,719,301,TIDs,237,107,408,245
2017-01-07,66,2017-01-07_v1.jpg,719,301,TIDs,237,107,465,245

                     filename  width  height class  xmin  ymin  xmax  ymax
Date
2017-01-07  2017-01-07_v1.jpg    719     301  TIDs   237   107   637   245
2017-01-07  2017-01-07_v1.jpg    719     301  TIDs   237   107   294   245
2017-01-07  2017-01-07_v1.jpg    719     301  TIDs   237   107   351   245
2017-01-07  2017-01-07_v1.jpg    719     301  TIDs   237   107   408   245
2017-01-07  2017-01-07_v1.jpg    719     301  TIDs   237   107   465   245
...                       ...    ...     ...   ...   ...   ...   ...   ...
2017-12-26  2017-12-26_v1.jpg    719     301  TIDs   219   126   489   226
2017-12-26  2017-12-26_v1.jpg    719     301  TIDs   126   126   195   226
2017-12-26  2017-12-26_v1.jpg    719     301  TIDs   195   113   489   238
2017-12-26  2017-12-26_v1.jpg    719     301  TIDs   195   101   489   251
2017-12-26  2017-12-26_v1.jpg    719     301  TIDs   195    88   489   263

[348 rows x 8 columns]

                     filename  width  height class  xmin  ymin  xmax  ymax
Date
2017-01-02  2017-01-02_v1.jpg    719     301  TIDs   263   105   653   208
2017-01-02  2017-01-02_v1.jpg    719     301  TIDs   263   105   369   208
2017-01-02  2017-01-02_v1.jpg    719     301  TIDs   263   105   440   208
2017-01-02  2017-01-02_v1.jpg    719     301  TIDs   263   105   511   208
2017-01-02  2017-01-02_v1.jpg    719     301  TIDs   263   105   582   208
...                       ...    ...     ...   ...   ...   ...   ...   ...
2017-12-27  2017-12-27_v1.jpg    719     301  TIDs   421    53   657   213
2017-12-27  2017-12-27_v1.jpg    719     301  TIDs    53    53   416   213
2017-12-27  2017-12-27_v1.jpg    719     301  TIDs   416    33   657   233
2017-12-27  2017-12-27_v1.jpg    719     301  TIDs   416    13   657   253
2017-12-27  2017-12-27_v1.jpg    719     301  TIDs   416     1   657   273

[1095 rows x 8 columns]

                     filename  width  height class  xmin  ymin  xmax  ymax
Date
2017-01-02  2017-01-02_v1.jpg    719     301  TIDs   263   105   653   208
2017-01-02  2017-01-02_v1.jpg    719     301  TIDs   263   105   369   208
2017-01-02  2017-01-02_v1.jpg    719     301  TIDs   263   105   440   208
2017-01-02  2017-01-02_v1.jpg    719     301  TIDs   263   105   511   208
2017-01-02  2017-01-02_v1.jpg    719     301  TIDs   263   105   582   208