In [3]:
import os
import pandas as pd
from shutil import move

In [4]:
def csv_adjust(directory, method='test'):
    files = [directory + '/' + file for file in os.listdir(directory) if file.endswith('.csv')]
    df_list = list()
    for file in files:
        temp_df = pd.read_csv(file, index_col=0)
        df_list.append(temp_df)

    df = pd.concat(df_list, axis=0)
    df['filename'] = df['filename'].apply(f)
    display(df)
    df = df.drop_duplicates()
    df.to_csv(f'{method}.csv', index=None)
    return df

def rename_images(directory):
    files = [directory + '/' + file for file in os.listdir(directory) if file.endswith('.jpg')]
    for file in files:
        new_file = directory + adj_file_name(file)
        move(file, new_file)
    return

In [ ]:
!ls
for directory in ['lucas_test','lucas_train','lucas_valid']:
    if not os.path.exists(directory): os.mkdir(directory)
    rename_images(directory)
    df = csv_adjust(directory, method=directory)
    df = df.loc[(df['xmax'] > 719) | (df['ymax'] > 301),:]

In [ ]:
!ls
df1 = pd.read_csv('dfs/nick_test.csv')
df2 = pd.read_csv('dfs/lucas_test.csv')
df = pd.concat((df1, df2), axis=0)
df.to_csv('test.csv', index=False)

df1 = pd.read_csv('dfs/nick_train.csv')
df2 = pd.read_csv('dfs/lucas_train.csv')
df = pd.concat((df1, df2), axis=0)
df.to_csv('train.csv', index=None)

In [3]:
def adj_file_name(file):
    file = file.split('/')[-1]
    date = pd.to_datetime(file.split('_')[0], format='%m-%d-%Y')
    return date.strftime('%Y-%m-%d') + '_v1.jpg'

for directory in ['train/','test/','valid/']:
    for file in os.listdir(directory):
        new_file = adj_file_name(file)
        move(directory + file, directory + new_file)

In [6]:
!ls
df_list = list()
for file in os.listdir('orig_csvs/'):
    df = pd.read_csv('orig_csvs/' + file)
    df_list.append(df)
    
df = pd.concat(df_list, axis=0)
df = df.drop_duplicates()
display(df)

f = lambda file : pd.to_datetime(file.split('_')[0])
df['Date'] = df['filename'].apply(f)
display(df)
df.to_csv('parent_csv.csv')

2017_v1      attribution_df.csv  LabFormatting-Copy1.ipynb  README.dataset.txt
2017_v2      augmented_A	 LabFormatting.ipynb	    README.roboflow.txt
2017_v2.zip  augmented_B	 lucas_test		    train
2017_v3      augmented_train	 nick_data		    TrainSplit.ipynb
2017_v4      dfs		 orig_csvs

               filename  width  height class  xmin  ymin  xmax  ymax
0     2017-01-02_v1.jpg    719     301  TIDs   263   105   653   208
1     2017-01-02_v1.jpg    719     301  TIDs   263   105   369   208
2     2017-01-02_v1.jpg    719     301  TIDs   263   105   440   208
3     2017-01-02_v1.jpg    719     301  TIDs   263   105   511   208
4     2017-01-02_v1.jpg    719     301  TIDs   263   105   582   208
...                 ...    ...     ...   ...   ...   ...   ...   ...
1587  2017-12-27_v1.jpg    719     301  TIDs   421    53   657   213
1588  2017-12-27_v1.jpg    719     301  TIDs    53    53   416   213
1589  2017-12-27_v1.jpg    719     301  TIDs   416    33   657   233
1590  2017-12-27_v1.jpg    719     301  TIDs   416    13   657   253
1591  2017-12-27_v1.jpg    719     301  TIDs   416     1   657   273

[1592 rows x 8 columns]

,filename,width,height,class,xmin,ymin,xmax,ymax,Date
0,2017-01-02_v1.jpg,719,301,TIDs,263,105,653,208,2017-01-02
1,2017-01-02_v1.jpg,719,301,TIDs,263,105,369,208,2017-01-02
2,2017-01-02_v1.jpg,719,301,TIDs,263,105,440,208,2017-01-02
3,2017-01-02_v1.jpg,719,301,TIDs,263,105,511,208,2017-01-02
4,2017-01-02_v1.jpg,719,301,TIDs,263,105,582,208,2017-01-02
...,...,...,...,...,...,...,...,...,...
1587,2017-12-27_v1.jpg,719,301,TIDs,421,53,657,213,2017-12-27
1588,2017-12-27_v1.jpg,719,301,TIDs,53,53,416,213,2017-12-27
1589,2017-12-27_v1.jpg,719,301,TIDs,416,33,657,233,2017-12-27
1590,2017-12-27_v1.jpg,719,301,TIDs,416,13,657,253,2017-12-27
1591,2017-12-27_v1.jpg,719,301,TIDs,416,1,657,273,2017-12-27